@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Cherry+Bomb+One&family=Fredoka:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: #f2f2f2;
	--shade: #e5e5e5;
	--grey: #858585;
	--black: #08060d;
	--eggplant: #330036;
	--pink: #fe019a;
	--lime: #c9ff00;

	--text: #330036;
	--text-inverse: var(--white);
	--text-h: #08060d;
	--bg: var(--white);
	--bg-shaded: var(--shade);
	--border: #e5e4e7;
	--code-bg: #f4f3ec;
	--accent: var(--pink);
	--accent-secondary: var(--lime);
	--accent-bg: rgba(170, 59, 255, 0.1);
	--accent-border: rgba(170, 59, 255, 0.5);
	--social-bg: rgba(244, 243, 236, 0.5);
	--shadow:
		rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

	--sans: "Fredoka", sans-serif;
	--bagel: "Bagel Fat One", serif;
	--cherry: "Cherry Bomb One", serif;

	body {
		background-color: var(--bg);
		color: var(--text);
	}
	p {
		margin-bottom: 1rem;
		line-height: 1.5;
	}
}

/* @theme {
	--sans: "Fredoka", sans-serif;
	--bagel: "Bagel Fat One", serif;
	--cherry: "Cherry Bomb One", serif;

	--text: #330036; 
	--text-h: #08060d;
	--bg: #f2f2f2;
	--border: #e5e4e7;
	--code-bg: #f4f3ec;
	--accent: #fe019a; 
	--accent-secondary: #c9ff00; 
	--accent-bg: rgba(170, 59, 255, 0.1);
	--accent-border: rgba(170, 59, 255, 0.5);
	--social-bg: rgba(244, 243, 236, 0.5);
	--shadow:
		rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
} */

/* header nav */
.nav__home-link {
	-webkit-text-stroke: 0.05rem var(--text);
	-webkit-text-fill-color: var(--accent);
	text-shadow: 0.2rem 0.2rem 0
		color-mix(in oklch, var(--text) 12%, transparent);
}
.nav__home-accent {
	-webkit-text-fill-color: var(--text);
}

/* headlines */

.headline--highlighter {
	background-image: linear-gradient(#edff00, var(--accent-secondary));
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	background-position: 0 88%;
	background-repeat: no-repeat;
	background-size: 100% 32%;
	padding-inline: 0.5rem;
}

.headline--display {
	-webkit-text-stroke: 0.25rem var(--text);
	-webkit-text-fill-color: transparent;
	text-shadow:
		0.35rem 0.35rem var(--accent),
		0.65rem 0.65rem 0 color-mix(in oklch, var(--text) 12%, transparent);
}
/* TODO: this is broken, come back */

h2.headline {
	font-size: 2.5rem;
	@media (min-width: 1024px) {
		font-size: 3.5rem;
	}
}
.headline--display {
	font-size: 156px;
}
.headline--highlighter {
	line-height: 1;
	font-size: 2.5rem;
	@media (min-width: 1024px) {
		font-size: 3.5rem;
	}
}
.card__featured-image--hero {
	@apply rounded-t-3xl border-b-2 border-b-[var(--text)];
}
